In [20]:
import pandas as pd
import re

In [21]:
df=pd.read_json("C:/Users/arnab/Desktop/frames.json")

In [22]:
dftemp=pd.DataFrame(columns=["ID","Origin","Destination","nadults","Budget","date"])
# write dataframe to excel
#dfnew.to_csv("C:/Users/arnab/Desktop/output2.csv")

In [23]:
df.head()

,user_id,turns,wizard_id,id,labels
0,U22HTHYNP,[{'text': 'I'd like to book a trip to Atlantis...,U21DKG18C,e2c0fc6c-2134-4891-8353-ef16d8412c9a,"{'userSurveyRating': 4.0, 'wizardSurveyTaskSuc..."
1,U21E41CQP,"[{'text': 'Hello, I am looking to book a vacat...",U21DMV0KA,4a3bfa39-2c22-42c8-8694-32b4e34415e9,"{'userSurveyRating': 3.0, 'wizardSurveyTaskSuc..."
2,U21RP4FCY,[{'text': 'Hello there i am looking to go on a...,U21E0179B,6e67ed28-e94c-4fab-96b6-68569a92682f,"{'userSurveyRating': 2.0, 'wizardSurveyTaskSuc..."
3,U22HTHYNP,[{'text': 'Hi I'd like to go to Caprica from B...,U21DKG18C,5ae76e50-5b48-4166-9f6d-67aaabd7bcaa,"{'userSurveyRating': 5.0, 'wizardSurveyTaskSuc..."
4,U21E41CQP,"[{'text': 'Hello, I am looking to book a trip ...",U21DMV0KA,24603086-bb53-431e-a0d8-1dcc63518ba9,"{'userSurveyRating': 5.0, 'wizardSurveyTaskSuc..."

In [24]:
x=0
for i in range(1369):
    st=str(df["turns"][i])
    k=st.replace("\'","\"")
    pattern='\"ORIGIN_CITY\":[ a-zA-Z0-9\"\_\.\,\:]+'
    x1=re.findall(pattern,k)
    uid=df["user_id"][i]
    try:
        details=df["turns"][i][0]["labels"]["acts"][1]["args"]
    except Exception as e:
        if not (df["turns"][525][0]["labels"]["acts"][0]):
            date="" 
   # print(x)
    #x+=1
    if len(details)!=0:
        for i in details:
            if i["key"]=="str_date":
                date=i["val"]
  
    li=[]
    for i in x1:
        li.append(i.split(","))
    
    for ind,l1 in enumerate(li):
        for l2 in l1:
            if l2.split(":")[0]=="\"ORIGIN_CITY\"":
                dftemp.loc[ind,["Origin"]]=l2.split(":")[1]
            if l2.split(":")[0]==" \"NUM_ADULTS\"":
                dftemp.loc[ind,["nadults"]]=l2.split(":")[1]
            if l2.split(":")[0]==" \"PRICE_MAX\"":
                dftemp.loc[ind,["Budget"]]=l2.split(":")[1]
            if l2.split(":")[0]==" \"DESTINATION_CITY\"":
                dftemp.loc[ind,["Destination"]]=l2.split(":")[1]
            if l2.split(":")[0]==" \"timestamp\"":
                dftemp.loc[ind,["timestamp"]]=l2.split(":")[1]
            if l2.split(":")[0]==" \"NUM_CHILDREN\"":
                dftemp.loc[ind,["num_children"]]=l2.split(":")[1]
            if l2.split(":")[0]==" \"PRICE_MIN\"":
                dftemp.loc[ind,["price_min"]]=l2.split(":")[1]
            dftemp.loc[ind,["date"]]=date
            dftemp.loc[ind,["ID"]]=uid
    
    x+=1
    if x==25:
        
        # Append DataFrame to existing excel file
        dftemp.to_csv("Final_Dataset.csv",mode="a")
        x=0
        #print(dftemp.memory_usage(index=True, deep=False))
        #dftemp.drop(dftemp.index,inplace=True)

In [25]:
df.value_counts(["user_id"])

user_id
U22K1SX9N    345
U24V2QUKC    323
U2709166N    214
U231PNNA3    122
U260BGVS6     81
U21RP4FCY     77
U22HTHYNP     69
U2AMZ8TLK     63
U23KR88NT     35
U23KPC9QV     27
U21E41CQP     13
dtype: int64